# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = amz_product_info.settings

[deploy:amz_product_info]
url = http://10.11.2.33:6800/
project = amz_product_info
